.conteiner {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  height: 75%;
  min-width: 400px;
  min-height: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  background-color: #fff;
  transition: 1s;
};

.activDiagnoses { opacity: 1 };
.deactivDiagnoses { opacity: 0 };

.toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 100%;
  background-color: #f0f0f0;
  flex: 0 0 6%;
  background-color: #19aa8d;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  :nth-child(2) { margin-left: 5px };

  .search {
    margin-left: 5px;
    height: 2vw;
    flex: 1 1 50%;
    border-radius: 5px;
    font-size: calcFluidFontSize(16, 25, 480, 1920);
    padding-left: 7px;
    padding-right: 7px;
    font-size: 16px;
  };

  .search:focus {
    outline: 0;
    outline-offset: 0;
  };

  .search:active {
    background-color: #f0f0f0;
  };
}

.content {
  flex: 1 1 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: auto;

  .item {
    cursor: pointer;
    padding-top: 5px;
    input:nth-child(1)  {margin-right: 5px };
    width: 90%;
  };

  .item:hover { background-color: #f0f0f0 };
};

.footer {
  flex: 0 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #19aa8d;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: default;

  .button {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  };

  .button:active {
    background-color: #d0d0d0;
  }
}