@import '../../lib.scss';

.editorWrapper {
  flex-grow: 39;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow-y: hidden;

  .toolBar {
    flex: 1 1 10%;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .fonts {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px dashed #19aa8d;
      padding: 5px;
      border-radius: 5px;
      margin-left: 5px;
      :not(:first-child) {margin-left: 5px;}
      * { font-size: calcFluidFontSize(12, 20, 480, 1920) };
    }
  };

  .editorTextarea {
    padding: 8px;
    max-height: 700px;
    flex: 0 0 90%;
    margin: 5px;
    box-shadow: inset 1px 1px 5px -1px;
    cursor: text;
  };
};

.buffer {
  height: 15px;
}