@import '../../pages/petCard/petCard.scss';

.navBar {
    flex-grow: 1;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #19aa8d;
    border-radius: 5px;

    .tabTreatmentDescription { @include tabNavBar() };
    .tabRecommendationsAppointments { @include tabNavBar() };
    .tabVaccinations { @include tabNavBar() };
    .tabHistory { @include tabNavBar() };
    .activTab {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        color: #fff;
        background-color: #19aa8d;
    };
    
    div:active {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
};