@import '../../lib.scss';

div.wrapper {
	width: 100%;
	height: 100%;
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;

  input {
    width: 100%;
    height: 100%;
    background-color: #19aa8d;
    font-size: calcFluidFontSize(16, 24, 480, 1920);
    color: #fff;
    border-radius: 5px;
  };

  input:hover { background-color: #116b59 };
  input:active { box-shadow: inset 1px 1px 20px -1px };
};