@import 'microtip/microtip';

@mixin table($columns) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-right: 5px;
  flex-grow: 1;

  .row {  border-bottom: 1px solid #19aa8d };

  div.header {
    background-color: #19aa8d;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    div { border-right: 1px solid #fff }; 
    div:last-child {border-right: 0 solid #fff}
  };

  div.body { *:hover { background-color: #e5e5e5 }};
  div.row {
    display: flex;
    * {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-right: 1px solid #19aa8d;
      cursor: pointer;
    };

    @each $column, $cWidth in $columns {
      :nth-child(#{$column}) { width: $cWidth };
    };
    :last-child { border-right: 0 };
  };
};

.clientsConteiner {
	display: flex;
	width: 99vw;
	height: 98vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5px;

	.contentWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		min-width: 750px;

		.content {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			flex-grow: 5;
			height: 100%;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			margin-left: 5px;
			border-radius: 5px;

			.buttonWrap {
				margin-top: 12px;
				margin-left: 10px;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
        width: 750px;
        flex-grow: 3;

				input {
					background-color: #19aa8d;
					border-radius: 5px;
					border: 0px;
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
					margin-right: 8px;
					color: #fff;
					font-size: 25px;
					font-weight: bold;
					height: 35px;
					width: 35px;
				};

				:focus {
					outline: 0;
					outline-offset: 0;
				};

				:active {
					background-color: #fff;
				};
      };
      
      div.scrol {
        overflow-y: auto;
        height: 100%;
      };

			.clientsAndPet {
				margin-top: 6px;
				flex-grow: 40;
        margin: 5px;
        display: flex;
        height: 200px;
        
      };
      .visits {
				margin-top: 6px;
				flex-grow: 80;
        margin: 5px;
        display: flex;
        height: 200px;
      };
    };
	};
};