@import '../../lib.scss';

.wrapp {
  display: flex;
  position: relative;

  .twoStateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: calcFluidFontSize(12, 20, 480, 1920);
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    min-width: 25px;
    min-height: 25px;
    padding: 5px;
    height: 1.8vw;
  };

  .active {
    background-color: #19aa8d;
    color: #fff;
    stroke: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  };

  .deactive {
    background-color: #b0b0b0;
    color: #5f5f5f;
    stroke: #5f5f5f
  };

  .square { width: 1.8vw };

  .openFild {
    background-color: #19aa8d;
    border-radius: 5px;
    margin-left: 2px;
    color: #999;
    font-size: calcFluidFontSize(12, 20, 480, 1920);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  };

  .options {
    position: absolute;
    z-index: 1;
    top: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-left: 2px solid #19aa8d;
    border-right: 2px solid #19aa8d;
    border-bottom: 2px solid #19aa8d;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .item {
      width: 20px;
      height: 20px;
      margin: 2px;
    }
    :active { box-shadow: inset 1px 1px 10px -1px };
    :nth-child(1) { background-color: #800 };
    :nth-child(2) { background-color: #FFA500 };
    :nth-child(3) { background-color: #ff0 };
    :nth-child(4) { background-color: #080 };
    :nth-child(5) { background-color: #00f };
    :nth-child(6) { background-color: #0ff };
    :nth-child(7) { background-color: #EE82EE };
    :nth-child(8) { background-color: #fff };
    :nth-child(9) { background-color: #000 };
  };

  .openFild:active { box-shadow: inset 1px 1px 10px -1px };
  .twoStateButton:active { box-shadow: inset 1px 1px 10px -1px };
};