@import '../../pages/clients/clients.scss';

.visitsTable {
  $columns: (1: 2%, 2: 20%, 3: 20%, 4: 20%, 5: 3%, 6: 8%, 7: 8%, 8: 8%, 9: 11%);
  @include table($columns);
};

div.scrol {
  overflow-y: auto;
  height: 100%;
};
