@import '../../lib.scss';

.twoStateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: calcFluidFontSize(12, 20, 480, 1920);
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  min-width: 25px;
  min-height: 25px;
  padding: 5px;
  height: 1.8vw;
};

.active {
  background-color: #19aa8d;
  color: #fff;
  stroke: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
};

.deactive {
  background-color: #b0b0b0;
  color: #5f5f5f;
  stroke: #5f5f5f
};

.square { width: 1.8vw };

.twoStateButton:active { box-shadow: inset 1px 1px 10px -1px };